template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 気象 API + 釣りアドバイス API（Step Functions 同期実行 v2）

Parameters:
  # API Gateway の OpenAPI を変えたとき、Deployment を必ず差し替えるためのバージョン文字列。
  # CI では github.sha を渡す。固定の "initial" のままだと RestApi は更新されても
  # ステージが古い Deployment を指い続け、OPTIONS 追加などが反映されないことがある。
  DeployTimestamp:
    Type: String
    Default: "initial"
  Stage:
    Type: String
    Default: "prod"
    AllowedValues: ["stg", "prod"]
    Description: >
      デプロイステージ。環境ごとのリソース挙動を制御する。
      prod – DynamoDB は DeletionPolicy=Retain、Cognito の管理者パスワード認証は無効、
            SFN の実行入出力はログに残さない（プライバシー）。
      stg  – DeletionPolicy=Delete、CLI テスト用に管理者パスワード認証を有効、
            デバッグ用に SFN の実行データをログに残す。
  WafRateLimitPer5Min:
    Type: Number
    Default: 500
  ApiAccessLogRetentionDays:
    Type: Number
    Default: 30
  AlarmEmail:
    Type: String
    Description: "CloudWatch アラーム通知先メール（--parameter-overrides または GitHub の ALARM_EMAIL で上書き）"
    Default: "ops@example.com"
  BedrockAgentArn:
    Type: String
    Description: >
      InvokeAgent 権限のスコープに使う Bedrock エージェントの ARN。
      形式: arn:aws:bedrock:<region>:<account>:agent/<agent-id>
      本番は特定エージェントの ARN を parameter-overrides で渡すこと。
      既定値は当アカウント・東京リージョンの agent/* のみ（全エージェントではなく agent リソースに限定）。
    Default: "arn:aws:bedrock:ap-northeast-1:476963918877:agent/*"

Conditions:
  # 本番デプロイ時に真。セキュリティとデータ保持ルールを厳しくする。
  IsProd: !Equals [!Ref Stage, "prod"]
  # 非本番（stg / ローカル）で真。本番では安全でないデバッグ用の補助を有効にする。
  IsNotProd: !Not [!Equals [!Ref Stage, "prod"]]

Resources:
  ########################################
  # Lambda Layer（共通ユーティリティ）
  ########################################
  FishingCommonLayer:
    Type: AWS::Serverless::LayerVersion
    Metadata:
      # requirements.txt を pip し、レイヤーに pydantic 等を含める（未指定だとソースのみ zip され ImportModuleError になる）。
      BuildMethod: python3.11
    Properties:
      LayerName: !Sub "${AWS::StackName}-fishing-common"
      ContentUri: layers/fishing_common/
      CompatibleRuntimes:
        - python3.11
      RetentionPolicy: Delete

  ########################################
  # API Gateway OpenAPI（Body をマッピングとして定義）
  ########################################
  WeatherApi20260326:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: WeatherRestApi
      Body:
        swagger: "2.0"
        info:
          title: Weather Observation API
          version: "1.1"
        securityDefinitions:
          CognitoUserPoolAuthorizer:
            type: apiKey
            name: Authorization
            in: header
            x-amazon-apigateway-authtype: cognito_user_pools
            x-amazon-apigateway-authorizer:
              type: cognito_user_pools
              providerARNs:
                - Fn::GetAtt: [CognitoUserPool, Arn]
        paths:
          /fishing:
            # ブラウザ（Flutter Web 等）からの CORS preflight。認証は不要（OPTIONS のみ）。
            options:
              consumes:
                - application/json
              produces:
                - application/json
              responses:
                "200":
                  description: CORS preflight
                  schema:
                    type: object
                  headers:
                    Access-Control-Allow-Origin:
                      type: string
                    Access-Control-Allow-Methods:
                      type: string
                    Access-Control-Allow-Headers:
                      type: string
              x-amazon-apigateway-integration:
                type: mock
                requestTemplates:
                  application/json: '{"statusCode": 200}'
                responses:
                  default:
                    statusCode: "200"
                    responseParameters:
                      method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
                      method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'"
                      method.response.header.Access-Control-Allow-Origin: "'*'"
                passthroughBehavior: when_no_templates
                contentHandling: CONVERT_TO_TEXT
            post:
              consumes:
                - application/json
              produces:
                - application/json
              security:
                - CognitoUserPoolAuthorizer: []
              parameters:
                - in: body
                  name: body
                  required: true
                  schema:
                    type: object
                    properties:
                      lat:
                        type: number
                      lon:
                        type: number
                      target_species:
                        type: string
                      spot_type:
                        type: string
                      start_at:
                        type: string
                    required:
                      - lat
                      - lon
              responses:
                "200":
                  description: Successful execution
                  schema:
                    type: object
              x-amazon-apigateway-integration:
                type: aws_proxy
                httpMethod: POST
                uri:
                  Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FishingApiProxyLambda.Arn}/invocations"

  ########################################
  # Lambda（API プロキシ）
  ########################################
  FishingApiProxyLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_api_proxy"
      Runtime: python3.11
      CodeUri: lambdas/api_proxy/fishing_proxy/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 512
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          FISHING_STATE_MACHINE_ARN: !Ref FishingAdviceStateMachine
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Ref FishingAdviceStateMachine

  FishingApiProxyPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt FishingApiProxyLambda.Arn
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WeatherApi20260326}/*/POST/fishing"

  ########################################
  # DynamoDB テーブル
  ########################################
  StationsTable:
    Type: AWS::DynamoDB::Table
    # 本番は Retain: スタック削除・置換時の誤ったデータ消失を防ぐ。
    # stg は Delete: テストサイクル間のクリーンな解体を許可。
    DeletionPolicy: !If [IsProd, Retain, Delete]
    UpdateReplacePolicy: !If [IsProd, Retain, Delete]
    Properties:
      TableName: !Sub "${AWS::StackName}-Stations"
      AttributeDefinitions:
        - AttributeName: station_id
          AttributeType: S
      KeySchema:
        - AttributeName: station_id
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true

  ExternalApiCacheTable:
    Type: AWS::DynamoDB::Table
    # キャッシュテーブル: 本番は監査のため Retain、stg はリセットしやすく Delete。
    DeletionPolicy: !If [IsProd, Retain, Delete]
    UpdateReplacePolicy: !If [IsProd, Retain, Delete]
    Properties:
      TableName: !Sub "${AWS::StackName}-ExternalApiCache"
      AttributeDefinitions:
        - AttributeName: cache_key
          AttributeType: S
      KeySchema:
        - AttributeName: cache_key
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      TimeToLiveSpecification:
        AttributeName: ttl_epoch
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true

  ########################################
  # Cognito（認証）
  ########################################
  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub "${AWS::StackName}-user-pool"
      UsernameAttributes:
        - email
      AutoVerifiedAttributes:
        - email
      AdminCreateUserConfig:
        AllowAdminCreateUserOnly: true
      Policies:
        PasswordPolicy:
          MinimumLength: 12
          RequireLowercase: true
          RequireNumbers: true
          RequireSymbols: true
          RequireUppercase: true

  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: !Sub "${AWS::StackName}-app-client"
      UserPoolId: !Ref CognitoUserPool
      GenerateSecret: false
      PreventUserExistenceErrors: ENABLED
      ExplicitAuthFlows:
        # SRP（Amplify Auth が InitiateAuth で USER_SRP_AUTH を使用）。平文パスワードはネットワークに載せない。
        - ALLOW_USER_SRP_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
        # Flutter Web はブラウザ上で SRP が不安定なことがあるため、stg のみ USER_PASSWORD_AUTH を許可（HTTPS）。
        - !If [IsNotProd, ALLOW_USER_PASSWORD_AUTH, !Ref AWS::NoValue]
        # 管理者パスワードフローは CI のスモークテスト（scripts/smoke_test.py）向け。stg のみ有効。
        - !If [IsNotProd, ALLOW_ADMIN_USER_PASSWORD_AUTH, !Ref AWS::NoValue]

  ########################################
  # Lambda（釣り – 最小ハンドラ群）
  ########################################
  ResolveNearestStationLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-resolve_nearest_station"
      Runtime: python3.11
      CodeUri: lambdas/fishing/resolve_station/
      Handler: lambda_function.lambda_handler
      Timeout: 10
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          STATIONS_TABLE: !Ref StationsTable
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBReadPolicy:
            TableName: !Ref StationsTable

  GetTideLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_tide"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_tide/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          TIDE_PROVIDER: "stormglass"
          STORMGLASS_API_KEY: "{{resolve:ssm:/ai-data-analyst/external/stormglass/api-key}}"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable
        - Statement:
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/external/stormglass/api-key"

  GetMarineDataLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_marine_data"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_marine/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          MARINE_PROVIDER: "openmeteo"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  GetForecastLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_forecast"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_forecast/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          FORECAST_PROVIDER: "jma"
          # 任意の上書き。空のときは Lambda 側の簡易「最寄り台所」ヒューリスティックを使用
          JMA_OFFICE_CODE_DEFAULT: "130000"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  FishingInferenceLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_inference"
      Runtime: python3.11
      CodeUri: lambdas/fishing/infer/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 1024
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          # stg は実エージェントなしでスモークが通るよう mock。本番は常に bedrock-agentcore。
          INFERENCE_PROVIDER: !If [IsProd, "bedrock-agentcore", "mock"]
          BEDROCK_AGENT_ID: !If
            - IsProd
            - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/id}}"
            - "mock-agent-id"
          BEDROCK_AGENT_ALIAS_ID: !If
            - IsProd
            - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/alias-id}}"
            - "mock-alias-id"
      Policies:
        - AWSLambdaBasicExecutionRole
        # IAM ポリシー JSON の先頭に Version を付与（コンソール警告「Missing Version」回避）。
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - bedrock:InvokeAgent
              Resource:
                - !Ref BedrockAgentArn
                - !Sub
                    - "arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:agent/${AgentId}"
                    - AgentId: "{{resolve:ssm:/ai-data-analyst/bedrock/agent/id}}"
                - Fn::Join:
                    - ""
                    - - "arn:aws:bedrock:"
                      - !Ref AWS::Region
                      - ":"
                      - !Ref AWS::AccountId
                      - ":agent-alias/"
                      - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/id}}"
                      - "/"
                      - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/alias-id}}"
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/bedrock/agent/id"
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/bedrock/agent/alias-id"
            - Effect: Allow
              Action:
                - cloudwatch:PutMetricData
              Resource: "*"
              Condition:
                StringEquals:
                  cloudwatch:namespace: "FishingAdvice/Inference"

  ########################################
  # Step Functions EXPRESS（釣りワークフロー）
  ########################################
  FishingAdviceStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-FishingAdviceStateMachineRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: FishingAdviceStateMachinePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ResolveNearestStationLambda.Arn
                  - !GetAtt GetTideLambda.Arn
                  - !GetAtt GetMarineDataLambda.Arn
                  - !GetAtt GetForecastLambda.Arn
                  - !GetAtt FishingInferenceLambda.Arn
              # Step Functions のログ配信先は SfnLogGroup のみに限定（Resource:* を廃止）。
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource:
                  - !GetAtt SfnLogGroup.Arn
                  - !Sub
                    - "${LogGroupArn}:*"
                    - LogGroupArn: !GetAtt SfnLogGroup.Arn

  FishingAdviceStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-FishingAdviceStateMachine"
      StateMachineType: EXPRESS
      RoleArn: !GetAtt FishingAdviceStateMachineRole.Arn
      LoggingConfiguration:
        Level: ALL
        # 本番では API キーや外部 API 応答（Stormglass、Open-Meteo）が
        # CloudWatch Logs に出ないよう実行入出力をログに残さない。
        # stg はデバッグのため実行データをログに残す。
        IncludeExecutionData: !If [IsNotProd, true, false]
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt SfnLogGroup.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "StartAt": "ResolveStation",
              "States": {
                "ResolveStation": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${ResolveStationArn}",
                    "Payload.$": "$"
                  },
                  "ResultPath": "$.station",
                  "Next": "FetchExtras"
                },
                "FetchExtras": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "GetTide",
                      "States": {
                        "GetTide": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetTideArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "TideFallback"
                            }
                          ],
                          "End": true
                        },
                        "TideFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "stormglass",
                            "error": "tide fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetMarineData",
                      "States": {
                        "GetMarineData": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetMarineArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "MarineFallback"
                            }
                          ],
                          "End": true
                        },
                        "MarineFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "openmeteo",
                            "error": "marine fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetForecast",
                      "States": {
                        "GetForecast": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetForecastArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "ForecastFallback"
                            }
                          ],
                          "End": true
                        },
                        "ForecastFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "jma",
                            "error": "forecast fetch failed"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": "$.extras",
                  "Next": "InferFishingAdvice"
                },
                "InferFishingAdvice": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${InferArn}",
                    "Payload.$": "$"
                  },
                  "End": true
                }
              }
            }
          - {
              ResolveStationArn: !GetAtt ResolveNearestStationLambda.Arn,
              GetTideArn: !GetAtt GetTideLambda.Arn,
              GetMarineArn: !GetAtt GetMarineDataLambda.Arn,
              GetForecastArn: !GetAtt GetForecastLambda.Arn,
              InferArn: !GetAtt FishingInferenceLambda.Arn
            }

  ########################################
  # デプロイとステージ
  ########################################
  WeatherApiDeployment20260324:
    Type: AWS::ApiGateway::Deployment
    Properties:
      RestApiId: !Ref WeatherApi20260326
      Description: !Sub "Deployment for ${Stage} stage - ${DeployTimestamp}"

  WeatherApiStage:
    Type: AWS::ApiGateway::Stage
    DependsOn:
      - ApiGatewayAccount
    Properties:
      # ステージ名はデプロイパラメータ Stage（stg | prod）と一致させ、
      # CloudWatch メトリクス・アクセスログ・WAF の関連付けを環境ごとに分離する。
      StageName: !Ref Stage
      RestApiId: !Ref WeatherApi20260326
      DeploymentId: !Ref WeatherApiDeployment20260324
      TracingEnabled: true
      AccessLogSetting:
        DestinationArn: !GetAtt WeatherApiAccessLogGroup.Arn
        Format: !Sub >-
          {"requestId":"$context.requestId","ip":"$context.identity.sourceIp","requestTime":"$context.requestTime",
          "httpMethod":"$context.httpMethod","resourcePath":"$context.resourcePath","status":"$context.status",
          "protocol":"$context.protocol","responseLength":"$context.responseLength",
          "integrationStatus":"$context.integration.status","integrationLatency":"$context.integration.latency",
          "latency":"$context.responseLatency","userAgent":"$context.identity.userAgent"}
      # ResourcePath / HttpMethod の * は API Gateway の「どのメソッドにログ設定を適用するか」の指定（IAM の Resource ではない）。
      MethodSettings:
        - MetricsEnabled: true
          LoggingLevel: INFO
          DataTraceEnabled: false
          ResourcePath: "/*"
          HttpMethod: "*"
          ThrottlingBurstLimit: 50
          ThrottlingRateLimit: 25

  WeatherApiAccessLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/apigateway/${AWS::StackName}/${Stage}/access"
      RetentionInDays: !Ref ApiAccessLogRetentionDays

  ApiGatewayCloudWatchLogsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-ApiGatewayCloudWatchLogsRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs

  ApiGatewayAccount:
    Type: AWS::ApiGateway::Account
    Properties:
      CloudWatchRoleArn: !GetAtt ApiGatewayCloudWatchLogsRole.Arn

  AlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-alarms"

  AlarmEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref AlarmTopic
      Protocol: email
      Endpoint: !Ref AlarmEmail

  SfnLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/stepfunctions/${AWS::StackName}/FishingAdviceStateMachine"
      RetentionInDays: 30

  ########################################
  # WAFv2（API 保護）
  ########################################
  WeatherApiWebAcl:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub "${AWS::StackName}-WeatherApi-WebAcl"
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: !Sub "${AWS::StackName}-WeatherApiWebAcl"
      Rules:
        - Name: RateLimit
          Priority: 0
          Action:
            Block: {}
          Statement:
            RateBasedStatement:
              Limit: !Ref WafRateLimitPer5Min
              AggregateKeyType: IP
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: !Sub "${AWS::StackName}-RateLimit"
        - Name: AWSManagedCommonRuleSet
          Priority: 10
          OverrideAction:
            None: {}
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: !Sub "${AWS::StackName}-CommonRuleSet"

  WeatherApiWebAclAssociation:
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      WebACLArn: !GetAtt WeatherApiWebAcl.Arn
      ResourceArn: !Sub "arn:aws:apigateway:${AWS::Region}::/restapis/${WeatherApi20260326}/stages/${WeatherApiStage}"

  ########################################
  # CloudWatch アラーム
  # ノイズ低減: エラーは 5 分窓で 5 回中 3 回評価し、
  # 一時的なコールドスタート失敗でのアラート疲れを避ける。
  # 時間 / スロットルも同様に 5 回中 3 回。
  ########################################

  # API Gateway 5xx – Lambda エラーとは独立したゲートウェイ層の失敗を検知。
  # API 自体が 5xx を返したときに発火（統合タイムアウト、WAF、スロットルなど）。
  FishingApi5xxAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API Gateway の 5xx が 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/ApiGateway"
      MetricName: "5XXError"
      Dimensions:
        - Name: ApiName
          Value: WeatherRestApi
        - Name: Stage
          Value: !Ref Stage
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
  FishingApiProxyErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API プロキシ Lambda のエラーが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyThrottlesAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API プロキシ Lambda のスロットルが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Throttles"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyDurationP95Alarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API プロキシ Lambda の p95 実行時間が 25 秒超（5 分窓で連続 5 回のうち 3 回以上）"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Duration"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      ExtendedStatistic: p95
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 25000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching

  FishingInferenceErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing 推論 Lambda のエラーが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingInferenceLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetTideErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetTide Lambda のエラーが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetTideLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetMarineDataErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetMarineData Lambda のエラーが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetMarineDataLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetForecastErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetForecast Lambda のエラーが 5 分窓で連続 5 回のうち 3 回以上 1 件以上"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetForecastLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  ########################################
  # 推論スコアのドリフト検知
  #
  # 二段構成:
  #
  # 1. AbsoluteScoreAlarm – 1 時間平均スコアが 2 時間連続で 50 を下回ったら発火。
  #    致命的障害を検知（Bedrock がゴミを返す、プロンプト破損、score 欠落でスキーマ既定 0 など）。
  #
  # 2. ScoreDriftRatioAlarm – short_avg / long_avg の数式アラーム。
  #    1 時間平均が 24 時間ベースラインより 30% 以上低下（ratio < 0.70）で発火。
  #    絶対しきい値では見逃す漸進的劣化（例: 80 → 55）を捕捉。
  #
  # 両方 TreatMissingData: notBreaching – 低トラフィック時の誤検知を防ぐ。
  ########################################
  InferenceScoreAbsoluteAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "釣りアドバイススコアの 1 時間平均が 2 時間連続で 50 未満（致命的障害）"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "FishingAdvice/Inference"
      MetricName: "AdviceScore"
      Statistic: Average
      Period: 3600
      EvaluationPeriods: 2
      DatapointsToAlarm: 2
      Threshold: 50
      ComparisonOperator: LessThanThreshold
      TreatMissingData: notBreaching

  InferenceScoreDriftRatioAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: >
        釣りアドバイススコアの持続的劣化: 直近 24 時間のうち 16 時間で 1 時間平均が 45 未満。
        絶対しきい値（2 時間連続で 50 未満）だけでは捉えにくい漸進的ドリフトやプロンプト劣化を示す。
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "FishingAdvice/Inference"
      MetricName: "AdviceScore"
      Statistic: Average
      # Period=3600（1h）、EvaluationPeriods=24 → 24h のスライディング窓。
      # DatapointsToAlarm=16 は 24 時間のうち 16 時間分以上で平均が 45 未満なら発火。
      # 持続的劣化を捉えつつ、最大 8 時間程度の一時ノイズは許容。
      Period: 3600
      EvaluationPeriods: 24
      DatapointsToAlarm: 16
      Threshold: 45
      ComparisonOperator: LessThanThreshold
      TreatMissingData: notBreaching

Outputs:
  FishingApiUrl:
    Description: "Fishing API の呼び出し URL"
    Value:
      Fn::Sub:
        - "https://${RestApiId}.execute-api.${AWS::Region}.amazonaws.com/${Stage}/fishing"
        - { RestApiId: !Ref WeatherApi20260326 }

  CognitoUserPoolId:
    Description: "Cognito ユーザープール ID（ログイン用）"
    Value: !Ref CognitoUserPool

  CognitoUserPoolClientId:
    Description: "Cognito アプリクライアント ID"
    Value: !Ref CognitoUserPoolClient