template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Weather API + Fishing Advice API (Step Functions Sync Execution v2)

Parameters:
  DeployTimestamp:
    Type: String
    Default: "initial"

Resources:
  ########################################
  # API Gateway OpenAPI (Body as mapping)
  ########################################
  WeatherApi20260326:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: WeatherRestApi
      Body:
        swagger: "2.0"
        info:
          title: Weather Observation API
          version: "1.1"
        paths:
          /fishing:
            post:
              consumes:
                - application/json
              produces:
                - application/json
              parameters:
                - in: body
                  name: body
                  required: true
                  schema:
                    type: object
                    properties:
                      lat:
                        type: number
                      lon:
                        type: number
                      target_species:
                        type: string
                      spot_type:
                        type: string
                      start_at:
                        type: string
                    required:
                      - lat
                      - lon
              responses:
                "200":
                  description: Successful execution
                  schema:
                    type: object
              x-amazon-apigateway-integration:
                type: aws_proxy
                httpMethod: POST
                uri:
                  Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FishingApiProxyLambda.Arn}/invocations"

  ########################################
  # Lambda (API Proxy)
  ########################################
  FishingApiProxyLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_api_proxy"
      Runtime: python3.11
      CodeUri: lambdas/api_proxy/fishing_proxy/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 512
      Environment:
        Variables:
          FISHING_STATE_MACHINE_ARN: !Ref FishingAdviceStateMachine
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Ref FishingAdviceStateMachine

  FishingApiProxyPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt FishingApiProxyLambda.Arn
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WeatherApi20260326}/*/POST/fishing"

  ########################################
  # DynamoDB
  ########################################
  StationsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${AWS::StackName}-Stations"
      AttributeDefinitions:
        - AttributeName: station_id
          AttributeType: S
      KeySchema:
        - AttributeName: station_id
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST

  ExternalApiCacheTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${AWS::StackName}-ExternalApiCache"
      AttributeDefinitions:
        - AttributeName: cache_key
          AttributeType: S
      KeySchema:
        - AttributeName: cache_key
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      TimeToLiveSpecification:
        AttributeName: ttl_epoch
        Enabled: true

  ########################################
  # Lambda (Fishing - minimal handlers)
  ########################################
  ResolveNearestStationLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-resolve_nearest_station"
      Runtime: python3.11
      CodeUri: lambdas/fishing/resolve_station/
      Handler: lambda_function.lambda_handler
      Timeout: 10
      MemorySize: 256
      Environment:
        Variables:
          STATIONS_TABLE: !Ref StationsTable
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBReadPolicy:
            TableName: !Ref StationsTable

  GetTideLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_tide"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_tide/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          TIDE_PROVIDER: "stormglass"
          STORMGLASS_API_KEY: "{{resolve:ssm:/ai-data-analyst/external/stormglass/api-key}}"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable
        - Statement:
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource: "*"

  GetMarineDataLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_marine_data"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_marine/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          MARINE_PROVIDER: "openmeteo"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  GetForecastLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_forecast"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_forecast/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          FORECAST_PROVIDER: "jma"
          # Optional override; when empty, lambda uses a small nearest-office heuristic
          JMA_OFFICE_CODE_DEFAULT: "130000"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  FishingInferenceLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_inference"
      Runtime: python3.11
      CodeUri: lambdas/fishing/infer/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 1024
      Environment:
        Variables:
          INFERENCE_PROVIDER: "mock"
          BEDROCK_AGENT_ID: "{{resolve:ssm:/ai-data-analyst/bedrock/agent/id}}"
          BEDROCK_AGENT_ALIAS_ID: "{{resolve:ssm:/ai-data-analyst/bedrock/agent/alias-id}}"
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - bedrock-agent-runtime:InvokeAgent
              Resource: "*"
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource: "*"

  ########################################
  # Step Functions EXPRESS (Fishing)
  ########################################
  FishingAdviceStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-FishingAdviceStateMachineRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: FishingAdviceStateMachinePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ResolveNearestStationLambda.Arn
                  - !GetAtt GetTideLambda.Arn
                  - !GetAtt GetMarineDataLambda.Arn
                  - !GetAtt GetForecastLambda.Arn
                  - !GetAtt FishingInferenceLambda.Arn

  FishingAdviceStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-FishingAdviceStateMachine"
      StateMachineType: EXPRESS
      RoleArn: !GetAtt FishingAdviceStateMachineRole.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "StartAt": "ResolveStation",
              "States": {
                "ResolveStation": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${ResolveStationArn}",
                    "Payload.$": "$"
                  },
                  "ResultPath": "$.station",
                  "Next": "FetchExtras"
                },
                "FetchExtras": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "GetTide",
                      "States": {
                        "GetTide": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetTideArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "TideFallback"
                            }
                          ],
                          "End": true
                        },
                        "TideFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "stormglass",
                            "error": "tide fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetMarineData",
                      "States": {
                        "GetMarineData": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetMarineArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "MarineFallback"
                            }
                          ],
                          "End": true
                        },
                        "MarineFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "openmeteo",
                            "error": "marine fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetForecast",
                      "States": {
                        "GetForecast": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetForecastArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "ForecastFallback"
                            }
                          ],
                          "End": true
                        },
                        "ForecastFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "jma",
                            "error": "forecast fetch failed"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": "$.extras",
                  "Next": "InferFishingAdvice"
                },
                "InferFishingAdvice": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${InferArn}",
                    "Payload.$": "$"
                  },
                  "End": true
                }
              }
            }
          - {
              ResolveStationArn: !GetAtt ResolveNearestStationLambda.Arn,
              GetTideArn: !GetAtt GetTideLambda.Arn,
              GetMarineArn: !GetAtt GetMarineDataLambda.Arn,
              GetForecastArn: !GetAtt GetForecastLambda.Arn,
              InferArn: !GetAtt FishingInferenceLambda.Arn
            }

  ########################################
  # Deployment & Stage
  ########################################
  WeatherApiDeployment20260324:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - WeatherApi20260326
    Properties:
      RestApiId: !Ref WeatherApi20260326
      Description: !Sub "Deployment for prod stage - ${DeployTimestamp}"

  WeatherApiStage:
    Type: AWS::ApiGateway::Stage
    Properties:
      StageName: prod
      RestApiId: !Ref WeatherApi20260326
      DeploymentId: !Ref WeatherApiDeployment20260324
      MethodSettings:
        - MetricsEnabled: true
          LoggingLevel: INFO
          DataTraceEnabled: true
          ResourcePath: "/*"
          HttpMethod: "*"

  ########################################
  # CloudWatch Alarms (MLOps minimum)
  ########################################
  FishingApiProxyErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda errors >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyThrottlesAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda throttles >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Throttles"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyDurationP95Alarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda p95 duration > 25s"
      Namespace: "AWS/Lambda"
      MetricName: "Duration"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      ExtendedStatistic: p95
      Period: 60
      EvaluationPeriods: 3
      DatapointsToAlarm: 2
      Threshold: 25000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching

  FishingInferenceErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing inference Lambda errors >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingInferenceLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetTideErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetTide Lambda errors >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetTideLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetMarineDataErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetMarineData Lambda errors >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetMarineDataLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetForecastErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetForecast Lambda errors >= 1"
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetForecastLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

Outputs:
  FishingApiUrl:
    Description: "Invoke URL for Fishing API"
    Value:
      Fn::Sub:
        - "https://${RestApiId}.execute-api.${AWS::Region}.amazonaws.com/prod/fishing"
        - { RestApiId: !Ref WeatherApi20260326 }