template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Weather API + Fishing Advice API (Step Functions Sync Execution v2)

Parameters:
  DeployTimestamp:
    Type: String
    Default: "initial"
  Stage:
    Type: String
    Default: "prod"
    AllowedValues: ["stg", "prod"]
    Description: >
      Deployment stage. Controls environment-specific resource behaviour:
      prod  – DynamoDB DeletionPolicy=Retain, Cognito admin-password-auth disabled,
              SFN execution data NOT logged (privacy).
      stg   – DeletionPolicy=Delete, admin-password-auth enabled for CLI testing,
              SFN execution data logged for debugging.
  WafRateLimitPer5Min:
    Type: Number
    Default: 500
  ApiAccessLogRetentionDays:
    Type: Number
    Default: 30
  AlarmEmail:
    Type: String
    Description: "Email address for CloudWatch alarm notifications (override with --parameter-overrides or GitHub secret ALARM_EMAIL)"
    Default: "ops@example.com"
  BedrockAgentArn:
    Type: String
    Description: >
      ARN of the Bedrock Agent for InvokeAgent permission scoping.
      Format: arn:aws:bedrock:<region>:<account>:agent/<agent-id>
      Set to specific ARN in production; default '*' allows any agent (initial setup only).
    Default: "*"

Conditions:
  # True when deploying to production – tightens security and data-retention rules.
  IsProd: !Equals [!Ref Stage, "prod"]
  # True in non-prod (stg / local) – enables debugging aids not safe for production.
  IsNotProd: !Not [!Equals [!Ref Stage, "prod"]]

Resources:
  ########################################
  # Lambda Layer (shared utilities)
  ########################################
  FishingCommonLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub "${AWS::StackName}-fishing-common"
      ContentUri: layers/fishing_common/
      CompatibleRuntimes:
        - python3.11
      RetentionPolicy: Delete

  ########################################
  # API Gateway OpenAPI (Body as mapping)
  ########################################
  WeatherApi20260326:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: WeatherRestApi
      Body:
        swagger: "2.0"
        info:
          title: Weather Observation API
          version: "1.1"
        securityDefinitions:
          CognitoUserPoolAuthorizer:
            type: apiKey
            name: Authorization
            in: header
            x-amazon-apigateway-authtype: cognito_user_pools
            x-amazon-apigateway-authorizer:
              type: cognito_user_pools
              providerARNs:
                - Fn::GetAtt: [CognitoUserPool, Arn]
        paths:
          /fishing:
            post:
              consumes:
                - application/json
              produces:
                - application/json
              security:
                - CognitoUserPoolAuthorizer: []
              parameters:
                - in: body
                  name: body
                  required: true
                  schema:
                    type: object
                    properties:
                      lat:
                        type: number
                      lon:
                        type: number
                      target_species:
                        type: string
                      spot_type:
                        type: string
                      start_at:
                        type: string
                    required:
                      - lat
                      - lon
              responses:
                "200":
                  description: Successful execution
                  schema:
                    type: object
              x-amazon-apigateway-integration:
                type: aws_proxy
                httpMethod: POST
                uri:
                  Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FishingApiProxyLambda.Arn}/invocations"

  ########################################
  # Lambda (API Proxy)
  ########################################
  FishingApiProxyLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_api_proxy"
      Runtime: python3.11
      CodeUri: lambdas/api_proxy/fishing_proxy/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 512
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          FISHING_STATE_MACHINE_ARN: !Ref FishingAdviceStateMachine
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Ref FishingAdviceStateMachine

  FishingApiProxyPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt FishingApiProxyLambda.Arn
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WeatherApi20260326}/*/POST/fishing"

  ########################################
  # DynamoDB
  ########################################
  StationsTable:
    Type: AWS::DynamoDB::Table
    # Retain in prod: prevents accidental data loss on stack delete/replace.
    # In stg, Delete allows clean teardown between test cycles.
    DeletionPolicy: !If [IsProd, Retain, Delete]
    UpdateReplacePolicy: !If [IsProd, Retain, Delete]
    Properties:
      TableName: !Sub "${AWS::StackName}-Stations"
      AttributeDefinitions:
        - AttributeName: station_id
          AttributeType: S
      KeySchema:
        - AttributeName: station_id
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true

  ExternalApiCacheTable:
    Type: AWS::DynamoDB::Table
    # Cache table: Retain in prod for auditability; Delete in stg for clean resets.
    DeletionPolicy: !If [IsProd, Retain, Delete]
    UpdateReplacePolicy: !If [IsProd, Retain, Delete]
    Properties:
      TableName: !Sub "${AWS::StackName}-ExternalApiCache"
      AttributeDefinitions:
        - AttributeName: cache_key
          AttributeType: S
      KeySchema:
        - AttributeName: cache_key
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      TimeToLiveSpecification:
        AttributeName: ttl_epoch
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true

  ########################################
  # Cognito (Auth)
  ########################################
  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub "${AWS::StackName}-user-pool"
      UsernameAttributes:
        - email
      AutoVerifiedAttributes:
        - email
      AdminCreateUserConfig:
        AllowAdminCreateUserOnly: true
      Policies:
        PasswordPolicy:
          MinimumLength: 12
          RequireLowercase: true
          RequireNumbers: true
          RequireSymbols: true
          RequireUppercase: true

  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: !Sub "${AWS::StackName}-app-client"
      UserPoolId: !Ref CognitoUserPool
      GenerateSecret: false
      PreventUserExistenceErrors: ENABLED
      ExplicitAuthFlows:
        # SRP: client computes password hash locally – password never sent in cleartext.
        - ALLOW_USER_SRP_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
        # Admin-password flow (plain-text password to server) is enabled only in stg
        # for CLI convenience.  In prod this flow is intentionally absent to reduce
        # the attack surface; operators must use SRP or federation.
        - !If [IsNotProd, ALLOW_ADMIN_USER_PASSWORD_AUTH, !Ref AWS::NoValue]

  ########################################
  # Lambda (Fishing - minimal handlers)
  ########################################
  ResolveNearestStationLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-resolve_nearest_station"
      Runtime: python3.11
      CodeUri: lambdas/fishing/resolve_station/
      Handler: lambda_function.lambda_handler
      Timeout: 10
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          STATIONS_TABLE: !Ref StationsTable
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBReadPolicy:
            TableName: !Ref StationsTable

  GetTideLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_tide"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_tide/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          TIDE_PROVIDER: "stormglass"
          STORMGLASS_API_KEY: "{{resolve:ssm:/ai-data-analyst/external/stormglass/api-key}}"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable
        - Statement:
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/external/stormglass/api-key"

  GetMarineDataLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_marine_data"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_marine/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          MARINE_PROVIDER: "openmeteo"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  GetForecastLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get_forecast"
      Runtime: python3.11
      CodeUri: lambdas/fishing/get_forecast/
      Handler: lambda_function.lambda_handler
      Timeout: 15
      MemorySize: 256
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          CACHE_TABLE: !Ref ExternalApiCacheTable
          FORECAST_PROVIDER: "jma"
          # Optional override; when empty, lambda uses a small nearest-office heuristic
          JMA_OFFICE_CODE_DEFAULT: "130000"
      Policies:
        - AWSLambdaBasicExecutionRole
        - DynamoDBCrudPolicy:
            TableName: !Ref ExternalApiCacheTable

  FishingInferenceLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-fishing_inference"
      Runtime: python3.11
      CodeUri: lambdas/fishing/infer/
      Handler: lambda_function.lambda_handler
      Timeout: 30
      MemorySize: 1024
      Tracing: Active
      Layers:
        - !Ref FishingCommonLayer
      Environment:
        Variables:
          # Use mock provider in staging so smoke tests pass without a real
          # Bedrock Agent. Production always uses bedrock-agentcore.
          INFERENCE_PROVIDER: !If [IsProd, "bedrock-agentcore", "mock"]
          BEDROCK_AGENT_ID: !If
            - IsProd
            - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/id}}"
            - "mock-agent-id"
          BEDROCK_AGENT_ALIAS_ID: !If
            - IsProd
            - "{{resolve:ssm:/ai-data-analyst/bedrock/agent/alias-id}}"
            - "mock-alias-id"
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - bedrock-agent-runtime:InvokeAgent
              # Scoped to the specific agent ARN passed as a parameter.
              # Set BedrockAgentArn to the full agent ARN in production.
              Resource: !Ref BedrockAgentArn
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
              Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/bedrock/agent/id"
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/ai-data-analyst/bedrock/agent/alias-id"
            - Effect: Allow
              Action:
                - cloudwatch:PutMetricData
              Resource: "*"
              Condition:
                StringEquals:
                  cloudwatch:namespace: "FishingAdvice/Inference"

  ########################################
  # Step Functions EXPRESS (Fishing)
  ########################################
  FishingAdviceStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-FishingAdviceStateMachineRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: FishingAdviceStateMachinePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ResolveNearestStationLambda.Arn
                  - !GetAtt GetTideLambda.Arn
                  - !GetAtt GetMarineDataLambda.Arn
                  - !GetAtt GetForecastLambda.Arn
                  - !GetAtt FishingInferenceLambda.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  FishingAdviceStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-FishingAdviceStateMachine"
      StateMachineType: EXPRESS
      RoleArn: !GetAtt FishingAdviceStateMachineRole.Arn
      LoggingConfiguration:
        Level: ALL
        # In prod, execution I/O is NOT logged to prevent API keys and external API
        # responses (Stormglass, Open-Meteo) from appearing in CloudWatch Logs.
        # In stg, full execution data is logged to aid debugging.
        IncludeExecutionData: !If [IsNotProd, true, false]
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt SfnLogGroup.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "StartAt": "ResolveStation",
              "States": {
                "ResolveStation": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${ResolveStationArn}",
                    "Payload.$": "$"
                  },
                  "ResultPath": "$.station",
                  "Next": "FetchExtras"
                },
                "FetchExtras": {
                  "Type": "Parallel",
                  "Branches": [
                    {
                      "StartAt": "GetTide",
                      "States": {
                        "GetTide": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetTideArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "TideFallback"
                            }
                          ],
                          "End": true
                        },
                        "TideFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "stormglass",
                            "error": "tide fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetMarineData",
                      "States": {
                        "GetMarineData": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetMarineArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "MarineFallback"
                            }
                          ],
                          "End": true
                        },
                        "MarineFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "openmeteo",
                            "error": "marine fetch failed"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "GetForecast",
                      "States": {
                        "GetForecast": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${GetForecastArn}",
                            "Payload.$": "$"
                          },
                          "Catch": [
                            {
                              "ErrorEquals": ["States.ALL"],
                              "ResultPath": "$.error",
                              "Next": "ForecastFallback"
                            }
                          ],
                          "End": true
                        },
                        "ForecastFallback": {
                          "Type": "Pass",
                          "Result": {
                            "provider": "jma",
                            "error": "forecast fetch failed"
                          },
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": "$.extras",
                  "Next": "InferFishingAdvice"
                },
                "InferFishingAdvice": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${InferArn}",
                    "Payload.$": "$"
                  },
                  "End": true
                }
              }
            }
          - {
              ResolveStationArn: !GetAtt ResolveNearestStationLambda.Arn,
              GetTideArn: !GetAtt GetTideLambda.Arn,
              GetMarineArn: !GetAtt GetMarineDataLambda.Arn,
              GetForecastArn: !GetAtt GetForecastLambda.Arn,
              InferArn: !GetAtt FishingInferenceLambda.Arn
            }

  ########################################
  # Deployment & Stage
  ########################################
  WeatherApiDeployment20260324:
    Type: AWS::ApiGateway::Deployment
    Properties:
      RestApiId: !Ref WeatherApi20260326
      Description: !Sub "Deployment for ${Stage} stage - ${DeployTimestamp}"

  WeatherApiStage:
    Type: AWS::ApiGateway::Stage
    DependsOn:
      - ApiGatewayAccount
    Properties:
      # Stage name matches the Stage deployment parameter (stg | prod),
      # so CloudWatch metrics, access logs, and WAF associations are
      # correctly isolated between environments.
      StageName: !Ref Stage
      RestApiId: !Ref WeatherApi20260326
      DeploymentId: !Ref WeatherApiDeployment20260324
      TracingEnabled: true
      AccessLogSetting:
        DestinationArn: !GetAtt WeatherApiAccessLogGroup.Arn
        Format: !Sub >-
          {"requestId":"$context.requestId","ip":"$context.identity.sourceIp","requestTime":"$context.requestTime",
          "httpMethod":"$context.httpMethod","resourcePath":"$context.resourcePath","status":"$context.status",
          "protocol":"$context.protocol","responseLength":"$context.responseLength",
          "integrationStatus":"$context.integration.status","integrationLatency":"$context.integration.latency",
          "latency":"$context.responseLatency","userAgent":"$context.identity.userAgent"}
      MethodSettings:
        - MetricsEnabled: true
          LoggingLevel: INFO
          DataTraceEnabled: false
          ResourcePath: "/*"
          HttpMethod: "*"
          ThrottlingBurstLimit: 50
          ThrottlingRateLimit: 25

  WeatherApiAccessLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/apigateway/${AWS::StackName}/${Stage}/access"
      RetentionInDays: !Ref ApiAccessLogRetentionDays

  ApiGatewayCloudWatchLogsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-ApiGatewayCloudWatchLogsRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs

  ApiGatewayAccount:
    Type: AWS::ApiGateway::Account
    Properties:
      CloudWatchRoleArn: !GetAtt ApiGatewayCloudWatchLogsRole.Arn

  AlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-alarms"

  AlarmEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref AlarmTopic
      Protocol: email
      Endpoint: !Ref AlarmEmail

  SfnLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/stepfunctions/${AWS::StackName}/FishingAdviceStateMachine"
      RetentionInDays: 30

  ########################################
  # WAFv2 (API protection)
  ########################################
  WeatherApiWebAcl:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub "${AWS::StackName}-WeatherApi-WebAcl"
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: !Sub "${AWS::StackName}-WeatherApiWebAcl"
      Rules:
        - Name: RateLimit
          Priority: 0
          Action:
            Block: {}
          Statement:
            RateBasedStatement:
              Limit: !Ref WafRateLimitPer5Min
              AggregateKeyType: IP
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: !Sub "${AWS::StackName}-RateLimit"
        - Name: AWSManagedCommonRuleSet
          Priority: 10
          OverrideAction:
            None: {}
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: !Sub "${AWS::StackName}-CommonRuleSet"

  WeatherApiWebAclAssociation:
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      WebACLArn: !GetAtt WeatherApiWebAcl.Arn
      ResourceArn: !Sub "arn:aws:apigateway:${AWS::Region}::/restapis/${WeatherApi20260326}/stages/${WeatherApiStage}"

  ########################################
  # CloudWatch Alarms
  # Noise-reduction policy: errors use 3-of-5 evaluation (5 min window)
  # to avoid alert fatigue from transient cold-start failures.
  # Duration / throttle alarms keep 3-of-5 for the same reason.
  ########################################

  # API Gateway 5xx – catches gateway-level failures independent of Lambda errors.
  # Fires when the API itself returns 5xx (e.g., integration timeout, WAF block, throttle).
  FishingApi5xxAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API Gateway 5xx errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/ApiGateway"
      MetricName: "5XXError"
      Dimensions:
        - Name: ApiName
          Value: WeatherRestApi
        - Name: Stage
          Value: !Ref Stage
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
  FishingApiProxyErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyThrottlesAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda throttles >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Throttles"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  FishingApiProxyDurationP95Alarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing API proxy Lambda p95 duration > 25s in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Duration"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingApiProxyLambda
      ExtendedStatistic: p95
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 25000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching

  FishingInferenceErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing inference Lambda errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref FishingInferenceLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetTideErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetTide Lambda errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetTideLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetMarineDataErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetMarineData Lambda errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetMarineDataLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  GetForecastErrorsAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "GetForecast Lambda errors >= 1 in 3 of 5 consecutive minutes"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "AWS/Lambda"
      MetricName: "Errors"
      Dimensions:
        - Name: FunctionName
          Value: !Ref GetForecastLambda
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      DatapointsToAlarm: 3
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  ########################################
  # Inference Score Drift Detection
  #
  # Two-tier approach:
  #
  # 1. AbsoluteScoreAlarm  – fires when the 1-hour average score drops below
  #    50 for 2 consecutive hours.  Catches catastrophic failures (Bedrock
  #    returning garbage, prompt broken, score field missing → schema default 0).
  #
  # 2. ScoreDriftRatioAlarm – Math Expression alarm that computes
  #    short_avg / long_avg.  Fires when the 1-hour average falls more than
  #    30% below the 24-hour baseline (ratio < 0.70).  This catches gradual
  #    degradation that the absolute threshold would miss (e.g., 80 → 55).
  #
  # TreatMissingData: notBreaching for both – low-traffic periods should not
  # generate false alerts.
  ########################################
  InferenceScoreAbsoluteAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Fishing advice score 1-hour avg < 50 for 2 consecutive hours (catastrophic failure)"
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "FishingAdvice/Inference"
      MetricName: "AdviceScore"
      Statistic: Average
      Period: 3600
      EvaluationPeriods: 2
      DatapointsToAlarm: 2
      Threshold: 50
      ComparisonOperator: LessThanThreshold
      TreatMissingData: notBreaching

  InferenceScoreDriftRatioAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: >
        Fishing advice score sustained degradation: 1-hour average below 45
        for 16 of the last 24 hours. Indicates gradual drift or prompt regression
        that the absolute threshold (< 50 for 2h) would not catch alone.
      AlarmActions:
        - !Ref AlarmTopic
      OKActions:
        - !Ref AlarmTopic
      Namespace: "FishingAdvice/Inference"
      MetricName: "AdviceScore"
      Statistic: Average
      # Period=3600 (1h), EvaluationPeriods=24 → 24h sliding window.
      # DatapointsToAlarm=16 means alarm fires when 16+ of the 24 hourly
      # averages are below 45 – catching sustained degradation while tolerating
      # up to 8 hours of transient noise.
      Period: 3600
      EvaluationPeriods: 24
      DatapointsToAlarm: 16
      Threshold: 45
      ComparisonOperator: LessThanThreshold
      TreatMissingData: notBreaching

Outputs:
  FishingApiUrl:
    Description: "Invoke URL for Fishing API"
    Value:
      Fn::Sub:
        - "https://${RestApiId}.execute-api.${AWS::Region}.amazonaws.com/${Stage}/fishing"
        - { RestApiId: !Ref WeatherApi20260326 }

  CognitoUserPoolId:
    Description: "Cognito User Pool ID (for login)"
    Value: !Ref CognitoUserPool

  CognitoUserPoolClientId:
    Description: "Cognito User Pool App Client ID"
    Value: !Ref CognitoUserPoolClient